body{
    background-color: #A58E74;
}

#imgsup{
    width: 100%;
    height:35vh;
    object-fit: cover;
    position: fixed top;
    top: 0;
    filter: blur(2px);
}

.carousel-item img {
    height: 70vh;
    object-fit: cover;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    top: 50%;
    transform: translateY(-50%);
  }
  
  .carousel-indicators {
    bottom: 0;
  }
 .carousel-inner{
    filter: drop-shadow(0 0px 10px rgba(0, 0, 0, 0.514));
    image-rendering: auto;
    z-index: 1;
} 

 #logo{
 width: 30vh;
 position: absolute;
 top: 2vh;
 right: 3%;
 filter: drop-shadow(0px 0px 6px rgb(255, 255, 255));
} 
 
@media (max-width: 768px) {
    #logo {
        width: 20vh;
    }
}

@media (max-width: 480px) {
    #logo {
        width: 15vh;
    }
}

 .navbar {
    z-index: 3;
}  

#acdyccc{
    position: absolute;
    top: 5vh;
    left: 3%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3% 3% 0 3%;
    max-width: 70%;
    filter: drop-shadow(0 0px 6px rgb(0, 0, 0));
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.card{
 background-color: #424530;
 filter: drop-shadow(0 0px 10px rgba(0, 0, 0, 0.514));
 text-shadow: 0px 0px 10px rgb(0, 0, 0);
}



.navbar{
    background-color: #424530;
    filter: drop-shadow(0 0px 10px rgba(0, 0, 0, 0.514));
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.menu-fixed{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    filter: drop-shadow(0 0px 10px rgba(0, 0, 0, 0.514));
   
}

footer {
    background-image: url('../img/footer2.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    filter: drop-shadow(0 0px 10px rgba(0, 0, 0, 0.514));
    text-shadow: 0px 0px 5px black;
}

#logoFooter{
    filter: drop-shadow(0px 0px 6px rgb(255, 255, 255));
    margin-left: 20%;
    margin-bottom: 10%;
}

#footer{
    padding-top: 15%;
    
}

#contacto{
    margin-left: 4vw;
    margin-right: 4vw;
}

#contactoNormativa{
    background: #424530 ;
    filter: drop-shadow(0 0px 10px rgba(0, 0, 0, 0.514));
    text-shadow: 0px 0px 10px rgb(0, 0, 0);

}

#socios{
    background: #424530 ;
    filter: drop-shadow(0 0px 10px rgba(0, 0, 0, 0.514));
    text-shadow: 0px 0px 5px black;
}

.btn{
    background-color: #E09132;
    border-color: #E09132;
    filter: drop-shadow(0 0px 10px rgba(0, 0, 0, 0.514));
}

a{
    color: #E09132;
}

.activo {
    color: #E09132 !important;
}

.footer-card {
    background-color: rgba(0, 0, 0, 0.8); 
    padding: 20px; 
    border-radius: 5px;
}

